body {
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.slider {
  overflow: hidden;
  position: relative;

  .imageList {
    margin: 0;
    padding: 0;
  }

  .slide {
    position: relative;
    float: left;

    img {
      display: block;
      width: 100%;
    }
  }

  .desc {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.6rem 1rem;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0.6;
  }

  .bulletpoints {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: center;
    z-index: 20;
  }

  .dot {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background: transparent;
    border: 1px solid white;
    box-shadow: 0 0 12px black;
    margin: 0 0.4rem;
    cursor: pointer;

    &.active {
      background: rgb(247, 244, 244);
    }
  }

  .leftArrow,
  .rightArrow,
  .play-pause {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(100% / 3);
    z-index: 10;
    text-align: center;
    transition: all 0.4s ease-in-out;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
      .fa {
        position: absolute;
        display: block;
        color: black;
        top: 50%;
        left: 0;
      }
    }
  }

  .rightArrow {
    left: auto;
    right: 0;
    .fa {
      right: 0;
    }
  }
  .leftArrow {
    right: auto;
    left: 0;
    .fa {
      right: 0;
    }
  }

  .fa {
    color: black;
    display: none;
  }

  .play-pause {
    left: calc(100% / 3);
    text-align: center;
    .fa {
      left: 0;
      right: 0;
    }
  }

  .playing {
    // text-align: center;
  }
}

.slider.with-js {
  .imageList {
    transition: all 400ms ease-in-out;
  }
}

/*
  Use this css-class on the slider section to animte the slider only with css.
  FANCY!
*/
.slider.with-css {
  .leftArrow,
  .rightArrow,
  .bulletpoints {
    display: none;
  }
  .imageList {
    animation-delay: 2s;
    animation-duration: 10s;
    animation-name: michimovesit;
    animation-iteration-count: infinite;
  }
  &.fast .imageList {
    animation-delay: 500ms;
    animation-duration: 3s;
  }
}

@keyframes michimovesit {
  0%,
  90%,
  100% {
    transform: translateX(0);
  }

  10%,
  20% {
    transform: translateX(-20%);
  }

  30%,
  40% {
    transform: translateX(-40%);
  }

  50%,
  60% {
    transform: translateX(-60%);
  }

  70%,
  80% {
    transform: translateX(-80%);
  }
}
